<!--    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script>

        var statusHTML = function( data ) {
            //var ret = '<li><img src="https://graph.facebook.com/jigarksh/picture" /></li>';
            //var ret = '<li>' + data.id + '</li>';
            //var ret = '<li><img src="https://graph.facebook.com/"' + data.id + '/\picture /></li>';
            //class="status"><img class="profile_picture" width="48" height="48" src="https://graph.facebook.com/' + data.id + '/picture" alt="Profile Picture" /></li>';
            //return ret;
        };

        $(document).ready(function()
        {
            $.getJSON("http://graph.facebook.com/search?q=jigar", function(fbResults)
            {
                $.each(fbResults.data, function()
                {
                    $("#statuses").append(statusHTML(this));

                })

            })
        });

    </script>


 <td width="60%" valign="top">
    <div id="timeline">
        <h2>
            Timeline
        </h2>
        <ol id="statuses">
        </ol>
    </div>
</td>
  -->
   <!--
<td width="60%" valign="top">
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '338774666212397', // App ID
            channelUrl : 'http://jigar-shopping.herokuapp.com/users/facebook.html',  //channel.html', // Channel File
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            xfbml      : true  // parse XFBML
        });

        // Here we subscribe to the auth.authResponseChange JavaScript event. This event is fired
        // for any authentication related change, such as login, logout or session refresh. This means that
        // whenever someone who was previously logged out tries to log in again, the correct case below
        // will be handled.
        FB.Event.subscribe('auth.authResponseChange', function(response) {
            // Here we specify what we do with the response anytime this event occurs.
            if (response.status === 'connected') {
                // The response object is returned with a status field that lets the app know the current
                // login status of the person. In this case, we're handling the situation where they
                // have logged in to the app.
                testAPI();
            } else if (response.status === 'not_authorized') {
                // In this case, the person is logged into Facebook, but not into the app, so we call
                // FB.login() to prompt them to do so.
                // In real-life usage, you wouldn't want to immediately prompt someone to login
                // like this, for two reasons:
                // (1) JavaScript created popup windows are blocked by most browsers unless they
                // result from direct interaction from people using the app (such as a mouse click)
                // (2) it is a bad experience to be continually prompted to login upon page load.
                FB.login();
            } else {
                // In this case, the person is not logged into Facebook, so we call the login()
                // function to prompt them to do so. Note that at this stage there is no indication
                // of whether they are logged into the app. If they aren't then they'll see the Login
                // dialog right after they log in to Facebook.
                // The same caveats as above apply to the FB.login() call here.
                FB.login();
            }
        });
    };

    // Load the SDK asynchronously
    (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));

    // Here we run a very simple test of the Graph API after login is successful.
    // This testAPI() function is only called in those cases.
    function testAPI() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
            console.log('Good to see you, ' + response.name + '.');
        });
    }
</script>
<!--Below we include the Login Button social plugin. This button uses the JavaScript SDK to-->
<!--present a graphical Login button that triggers the FB.login() function when clicked.-->
<!--<fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>
</td>
-->
        <script>
            function myfunc() {
                FB.login(function(response) {
                    if (response.session) {
                        if (response.perms) {
                            // user is logged in and granted some permissions.
                            // perms is a comma separated list of granted permissions
                        } else {
                            // user is logged in, but did not grant any permissions
                        }
                    } else {
                        // user is not logged in
                    }
                }, {perms:'offline_access,read_stream'});
            }
        </script>
<td width="60%" valign="top">
    <table border="0" width="100%">
        <tr align="center"><td>&nbsp;</td></tr>
        <tr align="center"><td><a href="https://www.facebook.com/dialog/oauth?client_id={338774666212397}&redirect_uri={http://jigar-shopping.herokuapp.com/users/facebook_login.html}"><img src="/assets/facebook_button.png"/></a></td></tr>
    </table>
</td>