<td width="60%" valign="top">
  <table border="0" width="100%">
    <tr align="center"><td>&nbsp;</td></tr>
    <tr align="center"><td>Welcome from Facebook: FB Code = <%= @fb_code %></td></tr>
    <tr align="center"><td>Welcome from Facebook: FB Code = <%= @fb_state %></td></tr>
  </table>
</td>