<td width="60%" valign="top">
  <table border="0" width="100%">
    <tr align="center"><td>&nbsp;</td></tr>
    <tr align="center">
        <td>
          <%= link_to 'Login', Koala::Facebook::OAuth.new.url_for_oauth_code(:callback => 'http://jigar-shopping.herokuapp.com/users/facebook_login') %>
          <!--<a href="https://www.facebook.com/dialog/oauth?client_id=338774666212397&redirect_uri=http://jigar-shopping.herokuapp.com/users/facebook_login"><img src="/assets/facebook_button.png"/></a>-->
        </td>
    </tr>
    <tr>
        <td></td>
    </tr>
  </table>
</td>