<style type="text/css">
    a {text-decoration:none;}
    a.button {
        background-color:green;
        cursor:pointer;
        color:#ffffff;
        padding:3 10 5 10px;
        -moz-border-radius: 3px;
        border-radius: 3px;

    }
</style>

<td width="60%" valign="top">
  <table border="0" width="100%">
    <tr align="center" style="height: 100px"><td>&nbsp;</td></tr>
    <tr align="center">
        <td align="center">
          <%= link_to image_tag("/assets/facebook_button.png", :alt => 'Facebook Login', :height => '40'), @auth_url %>
        </td>
    </tr>
  </table>
</td>