<%# debug(@rg.get('me')) %>
<td width="60%" valign="top">
  <table border="1" width="100%">
    <tr align="center"><td>&nbsp;</td></tr>
    <tr align="center"><td>Facebook - Success</td></tr>
    Looping through your profile:<br />
    <ul>
      <%= @me.data.id %>
    </ul>

  </table>
</td>