<td width="60%" valign="top">
    <table border="0" cellpadding="3" cellspacing="3" width="100%">
        <tr>
            <td colspan="2" align="left"><span style="color:red; font-family:verdana; font-size:40px">Contact Us</span><hr /></td>
        </tr>
        <tr>
            <td style="font-family:verdana">
                <p>Thank you for your interest in <b style="color:blue">BlueChipBuy.com</b>.</p>
                <p><b style="color:blue">BlueChipBuy.com's</b> headquarters are located in the heart of San Francisco.</p><br>
                <p><b style="color:blue">
                    BlueChipBuy.com</b><br />
                    1234 Main Street<br />
                    San Francisco<br />
                    CA 95001<br />
                    phone: (123) 456-7890<br />
                    E-mail : sales@bluechipbuy.com<br />
                </p>
                <p>Contact Name : <b><span style="color:red">Jigar Shah</span></b>
                <hr />
            </td>
        </tr>
    </table>
</td>