<td width="60%" valign="top">
    <table border="0" cellpadding="3" cellspacing="3" width="100%">
        <tr>
            <td colspan="2" align="left"><span style="color:red; font-family:verdana; font-size:40px">About Us</span><hr /></td>
        </tr>
        <tr>
            <td style="font-family:verdana">
                <p><b style="color:blue">BlueChipBuy.com</b>, Inc. is one of the nation's leading retailers and resellers of technology products and services. <b style="color:blue">BlueChipBuy.com</b> helps customers unleash the power of technology through a unique blend of products and highly knowledgeable sales staff as well as technology support and service.</p>
                <p>Founded in 1984 and based in Los Angeles, California, <b style="color:blue">BlueChipBuy.com</b> currently operates more than 240 stores in major metropolitan markets across the United States and Puerto Rico. <b style="color:blue">BlueChipBuy.com</b> serves consumer retail, small-to-medium businesses, corporate, government and education customers.</p>
                <p><b style="color:blue">BlueChipBuy.com</b>'s retail Web site offers an assortment of more than hundred products.</p>
                <p>The <b style="color:blue">BlueChipBuy.com</b> Difference: We got it. We get it. With computer hardware and software, home electronics and tech services and more focuses on offering the right solutions for its customers.</p>
                <p>Wide Range of Products and Knowledgeable Sales Staff <b style="color:blue">BlueChipBuy.com</b>'s expert sales staff helps businesses and consumers choose the right technology then shows them how to maximize their productivity. <b style="color:blue">BlueChipBuy.com</b> customers can leave stores with everything they need to make their technology work.</p>
            </td>
        </tr>
    </table>
</td>
